@charset "UTF-8";

main{
    background-color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}
  
body {
    margin: 0;
    background-color: #FFFFFF;
}

button {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
}

h1,
h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    margin: 0;
}

h3,
h4,
p,
li {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 65.6%;
}

.header {
    padding-top: 20px;
    background-color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.12;
}

.header-meta {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 75px;
    height: 75px;
    z-index: 2;
}

.logo-text {
    width: 180px;
    font-size: 14px;
    z-index: 2;
}

.logo-text span {
    font-size: 16px;
    z-index: 2;
}

.header-meta__list {
    display: flex;
    width: 600px;
    line-height: 1.125;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
}

.header-meta__item a {
    color: #000000;
    transition: 0.2s;
}

.header-meta__item a:hover {
    color: #FF9696;
    transition: 0.2s;
}

.header-meta__item a:focus {
    color: #FF9696;
    transition: 0.2s;
}

.header-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    width: 226px;
    height: 58px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125;
    color: #000000;
    border: 1.5px solid #FF9696;
    transition: 0.2s;
    z-index: 2;
}

.header-button:hover,
.header-button:focus {
    background-color: #FF9696;
    transition: 0.2s;
    color: #FFFFFF;
}

.hero-meeting {
    width: 50%;
    z-index: 2;
}

.hero h1 {
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 58px;
    line-height: 1.38;
    font-weight: 700;
}

.hero p {
    font-size: 22px;
    line-height: 1.115;
    font-weight: 300;
    margin-bottom: 57px;
}

.hero-button {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 80px;
    gap: 10px;
    width: 371px;
    height: 82px;
    font-size: 20px;
    line-height: 1.115;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    background: #FF9696;
    transition: 0.2s;
    border: 2px solid #FF9696;
}

.hero-button:hover,
.hero-button:focus {
    color: #000000;
    background: #FFFFFF;
    transition: 0.2s;
}

.social-links__list {
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    max-width: 172px;
}

.hero-background {
    position: absolute;
    margin-left: 36%;
    width: 35%;
    height: 835px;
    top: 0px;
    background: #FFF6F6;
    border-radius: 0px 0px 150px 150px;
    z-index: 0;
}

.main-photo {
    position: absolute;
    width: 55%;
    margin-left: 24%;
    top: 160px;
    z-index: 1;
}

.about-us {
    display: flex;
}

.about-us h2 {
    margin-top: 300px;
    font-size: 40px;
    line-height: 1.44;
    font-weight: 600;
}

.about-us_photo {
    margin-top: 48px;
    z-index: 2;
}

.vector1 {
    position: absolute;
    margin-top: -32px;
    margin-left: -70px;
    z-index: 3;
}

.vector-play-first {
    position: absolute;
    margin-left: -465px;
    margin-top: 330px;
    z-index: 3;
}

.vector-play-second {
    position: absolute;
    margin-left: -440px;
    margin-top: 350px;
    z-index: 4;
}

.vector-play-third {
    position: absolute;
    margin-left: -495px;
    margin-top: 300px;
    z-index: 1;
}