@charset "UTF-8";

main{
    background-color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}
  
body {
    margin: 0;
    background-color: #FFFFFF;
}

button {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
}

h1,
h3,
h4 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    margin: 0;
    font-size: 40px;
    line-height: 1.44; 
}


p,
li {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 65.6%;
}

/* HEADER */

.header {
    padding-top: 20px;
    background-color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.12;
}

@media screen and (max-width: 699px){
    .header-meta {
        justify-content: center;
    }
}

@media screen and (min-width: 700px){
    .header-meta {
        justify-content: space-between;
    }
}

.header-meta {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 75px;
    height: 75px;
    z-index: 2;
}

.logo-text {
    width: 180px;
    font-size: 14px;
    z-index: 2;
}

.logo-text span {
    font-size: 16px;
    z-index: 2;
}

.header-meta__list {
    display: flex;
    width: 50%;
    line-height: 1.125;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
}

.header-meta__item a {
    color: #000000;
    transition: 0.2s;
}

.header-meta__item a:hover {
    color: #FF9696;
    transition: 0.2s;
}

.header-meta__item a:focus {
    color: #FF9696;
    transition: 0.2s;
}

.header-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    width: 17%;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125;
    color: #000000;
    border: 1.5px solid #FF9696;
    transition: 0.2s;
    z-index: 2;
}

.header-button:hover,
.header-button:focus {
    background-color: #FF9696;
    transition: 0.2s;
    color: #FFFFFF;
}

/* HERO */

@keyframes slidein-hero {
    from {
      margin-left: -100%;
      opacity: 0;
    }
  
    to {
      margin-left: 0%;
      opacity: 1;
    }
}

@keyframes slidein-hero_bg {
    from {
      margin-left: 100%;
      opacity: 0;
    }
  
    to {
      margin-left: 36%;
      opacity: 1;
    }
}

@keyframes slidein-hero_photo {
    from {
      margin-left: 100%;
      opacity: 0;
    }
  
    to {
      margin-left: 24%;
      opacity: 1;
    }
}


.hero-meeting {
    width: 50%;
    z-index: 2;
}

.hero h1 {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 58px;
    line-height: 1.38;
    font-weight: 700;
    animation: slidein-hero;
    animation-duration: 2s;
}

.hero p {
    font-size: 22px;
    line-height: 1.115;
    font-weight: 300;
    margin-bottom: 57px;
    animation: slidein-hero;
    animation-duration: 2s;
}

.hero-button {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 80px;
    width: 60%;
    height: 15%;
    font-size: 20px;
    line-height: 1.115;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    background: #FF9696;
    transition: 0.2s;
    border: 2px solid #FF9696;
    animation: slidein-hero;
    animation-duration: 2s;
}

.hero-button:hover,
.hero-button:focus {
    color: #FF9696;
    background: #FFFFFF;
    transition: 0.2s;
}

.social-links__list {
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    max-width: 172px;
    animation: slidein-hero;
    animation-duration: 2s;
}

@media screen and (max-width: 699px){
    .hero-background {
        display: none;
    }

    .main-photo {
        display: none;
    }

    .hero-button {
        width: 100%;
        font-size: 16px;
        padding: 20px;
    }

    .hero-meeting {
        width: 100%;
        justify-content: center;
    }

    .hero h1 {
        font-size: 40px;
        text-align: center;
    }

    .hero p {
        font-size: 16px;
    }

    .header-button {
        width: 50%;
        font-size: 14px;
        padding: 16px 20px;
    }
}

.hero-background {
    position: absolute;
    margin-left: 36%;
    width: 35%;
    height: 835px;
    top: 0px;
    background: #FFF6F6;
    border-radius: 0px 0px 150px 150px;
    z-index: 0;
    animation: slidein-hero_bg;
    animation-duration: 2s;

}

.main-photo {
    position: absolute;
    width: 55%;
    margin-left: 24%;
    top: 160px;
    z-index: 1;
    animation: slidein-hero_photo;
    animation-duration: 2s;
}

/* ABOUT US */

.aboutus {
    display: flex;
}

.aboutus h2 {
    margin-top: 160px;
}

.aboutus .content {
    display: flex;
    margin-top: 48px;
    z-index: 2;
}

.aboutus .vector {
    position: absolute;
    margin-top: -32px;
    margin-left: -70px;
    z-index: 3;
}

.play {
    position: absolute;
    margin-top: 290px;
    margin-left: -520px;
    z-index: 3;
}

.content-text {
    width: 73%;
    margin-top: 30px;
    margin-left: 110px;
    line-height: 1.6;
}

.aboutus-list__icons {
    display: flex;
    width: 85%;
    margin-top: 60px;
    margin-left: 110px;
    justify-content: space-between;
}

.aboutus-list__icons p {
    max-width: 200px;
    margin-top: 8px;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
}

@media screen and (max-width: 699px) {
    .aboutus {
        flex-wrap: wrap;
    }

}

/* What makes us the best? */

.privileges h2 {
    margin-top: 180px;
    margin-bottom: 96px;
}

.privileges-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 1920px){
    .privileges-list {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1919px){
    .privileges-list {
        justify-content: space-around;
    }
}

.privileges-item img {
    z-index: 1;
}

.privileges-item h3 {
    position: absolute;
    margin-top: -430px;
    margin-left: 189px;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    line-height: 1.44;
    color: #FFFFFF;
    z-index: 2;
}

.privileges-item p {
    position: absolute;
    width: 315px;
    margin: 0 auto;
    margin-top: -270px;
    margin-left: 35px;
    text-align: center;
}

/* OUR TEAM */

.ourteam {
    background-image: url(./images/ourTeamBG.svg);
    background-repeat: no-repeat;
}

.ourteam-title {
    margin-top: 160px;
    margin-bottom: 60px;
    margin-left: 17.2%;
}

.ourteam-list {
    display: flex;
    height: 1792px;
    margin: 0 auto;
    align-content: stretch;
    flex-wrap: wrap;
}


.ourteam-item:nth-child(2n) {
    margin-left: 150px;
}


.ourteam .vector {
    position: relative;
    z-index: 1;
}

.ourteam-item .pic {
    margin-top: -300px;
    margin-left: 30px;
}

.ourteam-item .pic.even {
    margin-top: -400px;
    margin-left: 670px;
}

.ourteam .text {
    margin-top: -310px;
    margin-left: 480px;
    width: 48%;
}

.ourteam .text.even {
    margin-left: 110px;
    width: 48%;
}

.ourteam .text h4 {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
}

.ourteam .text h3 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

/* Registration */

.registration .group {
    margin-top: 240px;
    width: 100%;
}

.registration .photo{
    width: 35%;
    position: absolute;
    z-index: 1;
}

.registration .vector {
    width: 200%;
    position: absolute;
    margin-top: 10%;
    margin-left: 8%;
    z-index: 1;
}

.registration h3 {
    position: absolute;
    width: 100%;
    margin-top: 40%;
    margin-left: 5%;
    text-align: center;
    font-size: 40px;
    line-height: 1.44;
    z-index: 2;
}

.registration p {
    position: absolute;
    margin-top: 72%;
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    z-index: 3;
}

.reg-field {
    justify-content: center;
}

.form-content {
    display: flex;
    position: relative;
    width: 400px;
    margin-left: 620px;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: center;
}

.form-content form {
    margin-top: 80%;
    display: flex;
    flex-wrap: wrap;
}

.registration input {
    position: relative;
    padding: 20px 70px 20px 20px;
    width: 400px;
    height: 66px;
    margin-top: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.reg-button {
    position: relative;
    margin-top: 36px;
    padding: 20px 32px;
    width: 401px;
    height: 65px;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    background: #FF9696;
    border: 2px solid #FF9696;
    z-index: 2;
}

.reg-button:hover,
.reg-button:focus {
    background-color: #FFFFFF;
    transition: 0.2s;
    color: #FF9696;
}

.registration .submit-check {
    display: block;
    height: 20px;
    width: 20px;
}

.registration label {
    position: relative;
    margin-top: 19px;
    margin-left: 5px;
    color: #000000;
    z-index: 2;
}